<div class="container mt-3">
  <div class="row">
    <div class="col">
      <h4>Crear Alumno</h4>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form (ngSubmit)="agregar()" class="needs-validation" #forma="ngForm" novalidate>
        <div class="form-group row">
          <label class="col-3 col-sm-2 col-form-label">Nombres</label>
          <div class="col-9 col-sm-10">
            <input class="form-control" [ngClass]="{'is-invalid': nombre.errors && (nombre.dirty || nombre.touched)}" type="text" name="nombre"
              [(ngModel)]="alumno.nombre" required #nombre="ngModel">
            <div *ngIf="nombre.errors?.required" class="invalid-feedback">
              Este campo es requerido
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-3 col-sm-2 col-form-label">Primer Apellido</label>
          <div class="col-9 col-sm-10">
            <input class="form-control" [ngClass]="{'is-invalid': apellido01.errors && (apellido01.dirty)}" type="text" name="apellido01"
              [(ngModel)]="alumno.primerApellido" required #apellido01="ngModel">
            <div *ngIf="apellido01.errors?.required" class="invalid-feedback">
              Este campo es requerido
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-3 col-sm-2 col-form-label">Segundo Apellido</label>
          <div class="col-9 col-sm-10">
            <input class="form-control" [ngClass]="{'is-invalid': apellido02.errors && (apellido02.dirty || apellido02.touched)}" type="text"
              name="apellido02" [(ngModel)]="alumno.segundoApellido" #apellido02="ngModel">
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <div class="input-group col-12 col-sm-3 mt-1">
            <button type="submit" [disabled]='!forma.valid' class="btn btn-primary btn-block">
              Guardar
            </button>
          </div>
          <div class="input-group col-12 col-sm-3 mt-1">
            <button type="button" [routerLink]="['/alumnos']" class="btn btn-secondary btn-block">
              Regresar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>