<div class="col-lg-12">
  <div class="jumbotron jumbotron-fluid">
      <div class="container">
          <h1>{{title}}</h1>
          <p class="lead">Disfruta de los animales mas exoticos de nuestro zoologico</p>
          <p>
              <a class="btn btn-primary " role="button" [routerLink]="['/alumnos']">
                  Ver alumnos
              </a>
              <a class="btn btn-success " role="button" [routerLink]="['/materias']">
                  Ver materias
              </a>
              <a class="btn btn-warning " role="button" [routerLink]="['/profesores']">
                  Ver profesores
              </a>
          </p>
      </div>
  </div>
</div>