<div class="col-lg-12">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>{{title}}</h1>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo impedit maxime hic nisi voluptas, nemo quae, rerum minima voluptate possimus animi voluptatibus ut recusandae incidunt voluptatum praesentium quas, assumenda facilis!</p>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-4 mt-1">
          <a class="btn btn-primary btn-block" role="button" [routerLink]="['/alumnos']">
            Ver alumnos
          </a>
        </div>
        <div class="col-12 col-sm-4 mt-1">
            <a class="btn btn-success btn-block" role="button" [routerLink]="['/materias']">
              Ver materias
            </a>
        </div>
        <div class="col-12 col-sm-4 mt-1">
            <a class="btn btn-warning btn-block" role="button" [routerLink]="['/profesores']">
              Ver profesores
            </a>
        </div>
      </div>
    </div>
  </div>
</div>