<div class="col-lg-12">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>{{title}}</h1>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p class="lead">Disfruta de nuestra nueva página.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-4 mt-1">
          <a class="btn btn-primary " role="button" [routerLink]="['/alumnos']">
            Ver alumnos
          </a>
        </div>
        <div class="col-12 col-sm-4 mt-1">
            <a class="btn btn-success " role="button" [routerLink]="['/materias']">
              Ver materias
            </a>
        </div>
        <div class="col-12 col-sm-4 mt-1">
            <a class="btn btn-warning " role="button" [routerLink]="['/profesores']">
              Ver profesores
            </a>
        </div>
      </div>
    </div>
  </div>
</div>