<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Alumnos</h3>
    </div>
  </div>
  <div class="row mb-3 justify-content-between">
    <div class="col-12 col-sm-5 col-lg-3">
      <button type="button" [routerLink]="['/agregarAlumno']" class="btn btn btn-primary btn-block">Agregar nuevo Alumno</button>
    </div>
    <div class="col-12 col-sm-5 col-lg-3 align-self-center">
        <input type="text" placeholder="Buscar nombre..." [(ngModel)]="busqueda"/>
      </div>
  </div>
  <div class="row mb-2" *ngIf="busqueda">
    <div class="col label label-success">
      Termino de busqueda: <span class="badge badge-success">{{busqueda}}</span>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table table-hover">
        <thead class="thead-default">
          <tr>
            <th>Tipo documento</th>
            <th>Número de documento</th>
            <th>Nombre completo</th>
            <th>Curso</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let alumno of alumnos | buscar:busqueda">
            <td>{{alumno.tipoDocumento}}</td>
            <td>{{alumno.numeroDocumento}}</td>
            <td>{{alumno.nombre}} {{alumno.primerApellido}} {{alumno.segundoApellido}}</td>
            <td>{{alumno.curso}}</td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button [routerLink]="['/editarAlumno',alumno.id]" type="button" class="btn btn-outline-primary">Editar</button>
                <button [routerLink]="['/gestionarMateriasAlumno',alumno.id]" type="button" class="btn btn-outline-primary">Materias</button>
                <a href="#modal-{{alumno.id}}" role="button" class="btn btn-outline-danger" data-toggle="modal">Eliminar</a>

                <!-- Modal -->
                <div class="modal fade" id="modal-{{alumno.id}}" tabindex="-1" role="dialog"  >
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Confirmar eliminación</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>Estas segur@ que deseas eliminar a este alumno?</p>
                        <p>
                          Tipo de documento: {{ alumno.tipoDocumento }} <br>
                          Número documento: {{ alumno.numeroDocumento }} <br>
                          Nombre: {{alumno.nombre}} <br>
                          Primer Apellido: {{alumno.primerApellido}} <br>
                          Segundo Apellido: {{alumno.segundoApellido}} <br>
                          Curso: {{ alumno.curso }} <br>
                        </p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="eliminarAlumno(alumno.id)" data-dismiss="modal">Confirmar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>